.sub-header {
  display: block;
  font-size: 20px;
  text-align: center;
}

.contact-links {
  width: 330px;
  margin: 30px auto;
}

.contact-links > li {
  float: left;
  margin: 0 10px;
  font-size: 36px;
}

.contact-links > li:first-child {
  margin-left: 0;
}

.contact-links > li:last-child {
  margin-right: 0;
}

.contact-links a {
  display: inline-block;
  padding: 3px 8px;
}

.contact-links a:hover {
  padding: 1px 6px;
  border: 2px solid;
  border-radius: 50%;
}

.contact-description {
  display: block;
  text-align: center;
  cursor: auto;
}

.contact-description > a:hover {
  text-decoration: underline;
}
