html, body, section, h1, strong, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
