.triangle {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 100%;

  opacity: 1;
  transition: opacity 1s;
}

.triangle:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid #FFFAFB;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 0;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: bounce 1s infinite;
}

.hide {
  opacity: 0;
}

@-webkit-keyframes bounce {
  0% {
    top: 2px;
  }

  25% {
    top: 4px;
  }

  50% {
    top: 2px;
  }

  75% {
    top: 0px;
  }

  100% {
    top: -1px;
  }
}

#contact-me {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  font-size: 27px;
}

.contact-floats {
  height: 46px;
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

.contact-floats > li {
  background: #ccc;
  border-radius: 50%;

  position: absolute;
  right: 0;
  transition: right 0.5s;
}

.contact-floats > .email {
  box-shadow: 1px 2px 5px #888;
  z-index: 1;
}

.contact-floats > li > a {
  display: block;
  padding: 1px 4px;
}

.contact-floats > li > .icon-github {
  padding: 0.5px 3px;
}

.x {
  position: relative;
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.x:before {
  content: "\00D7";
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 36px;
}

.contact-floats.open > li {
  box-shadow: 1px 2px 5px #888;
}

.contact-floats.open > .github {
  right: 56px;
}

.contact-floats.open > .linkedin {
  right: 112px;
}

.contact-floats.open > .resume {
  right: 168px;
}

.contact-floats.open > .email {
  right: 224px;
}

.contact-floats.open > li:hover {
  background: #eee;
  box-shadow: 1px 2px 5px #151515;
}

.contact-floats.open > li:active {
  top: 1px;
  box-shadow: none;
}

