.solo {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

h2 {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
}

@media (min-width: 600px) {
  h2 {
    font-size: 53px;
  }
}

.project-image {
  width: 300px;
  height: auto;
  margin: 20px auto;
  border: 10px solid;
}

section.black .project-image {
  border-color: #FFFAFB;
}

section.white .project-image {
  border-color: #25283D;
}

.project-links {
  margin: 30px 0;
  text-transform: lowercase;
  font-size: 14px;
}

.project-links > li {
  display: inline-block;
  margin: 0 10px;
}

.project-link, .blank-project-link {
  display: inline-block;
  padding: 1px 3px;
}

.project-link {
  color: #25283D;
  background: #C6DBF0;
  border-radius: 2px;
}

.project-link:hover {
  color: #FFFAFB;
  background: #5786B5;
}

.blank-project-link {
  text-decoration: line-through;
  color: #ccc;
}

.project-description {
  display: block;
  width: 90%;
  margin: 30px auto;
}

.tech-list {
  margin: 30px 0;
  font-size: 14px;
}

.tech {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
}
