.solo {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

h2 {
  display: block;
  margin: 20px 0;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
}

.project-image {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.project-links {
  margin: 20px 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 11px;
}

.project-links > li {
  display: inline-block;
  margin: 0 10px;
}

.project-link:hover {
  background: #ccc;
}

.blank-project-link {
  text-decoration: line-through;
  color: #ccc;
}

section.black .project-link:hover {
  color: #151515;
}
