.solo {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

h2 {
  display: block;
  margin: 20px 0;
  font-weight: 700;
  font-size: 27px;
}

.project-image {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.project-links {
  margin: 20px 0;
  text-transform: lowercase;
  font-size: 11px;
}

.project-links > li {
  display: inline-block;
  margin: 0 10px;
}

.project-link, .blank-project-link {
  display: inline-block;
  padding: 1px 3px;
}

.project-link {
  color: #151515;
  background: #ccc;
  border-radius: 2px;
}

.project-link:hover {
  color: #FFFAFB;
  background: #666;
}

.blank-project-link {
  text-decoration: line-through;
  color: #ccc;
}

.project-description {
  display: block;
  width: 90%;
  margin: 20px auto;
}

.tech-list {
  margin: 20px 0;
  font-size: 14px;
}

.tech {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
}
