<ul class="root">
  <li class="splash-container">
    <section class="splash-cover">
      <strong class="splash-text">Hi I'm</strong>
      <h1 class="name">Constance Jiang</h1>

      <article class="im-a">
        <strong class="splash-text">& I'm a</strong>

        <ul class="me-list">
          <li class="show">Software Engineer</li>
          <li>TV Watcher</li>
          <li>Cookie Enthusiast</li>
        </ul>
      </article>
    </section>
  </li>

  <li class="info-container">
    <section class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  </li>
</ul>

<script>
  var doneScrolling = false;
  var scrolling = false;
  var $window = $(window);

  if ($window.scrollTop() < 10) {
    $("html, body").addClass("disable-scroll");
  }

  $window.on("mousewheel", function (e) {
    if (!doneScrolling && !scrolling) {
      var $show = $(".show");
      var index = $show.index() + 1;
      var $imas = $(".me-list > li");

      scrolling = true;

      if ($imas.length !== index) {
        $show.removeClass("show");

        $imas.eq(index).addClass("show").on("transitionend", function () {
          scrolling = false;
        });
      } else {
        doneScrolling = true;
        scrolling = false;
        $("html, body").removeClass("disable-scroll");
      }
    }
  });
</script>
