<ul class="root">
  <li class="splash-container">
    <section class="root-wrapper splash-cover">
      <strong class="splash-text">Hi I'm</strong>
      <h1 class="name">Constance Jiang</h1>

      <article class="im-a">
        <strong class="splash-text">& I'm a</strong>

        <ul class="me-list">
          <li class="show">Software Engineer</li>
          <li>TV Watcher</li>
          <li>Cookie Enthusiast</li>
        </ul>
      </article>
    </section>
  </li>

  <li class="info-container">
    <section class="root-wrapper info">
      <h1>Work</h1>

      <ul class="resume">
        <li>
          <%= render "resume_li", {
            company: "App Academy",
            location: "New York, NY",
            position: "Software Engineer & Teaching Assistant",
            time: "July 2014 - present"
          } %>
        </li>

        <li>
          <%= render "resume_li", {
            company: "The Following (Fox)",
            location: "New York, NY",
            position: "Costume Production Assistant",
            time: "February 2014 - April 2014"
          } %>
        </li>

        <li>
          <%= render "resume_li", {
            company: "Elementary (CBS)",
            location: "New York, NY",
            position: "Costume Production Assistant",
            time: "October 2013 - December 2013"
          } %>
        </li>
      </ul>

      <a href="public/resume.pdf" target="_blank">Download Resume (PDF)</a>
      <a href="https://www.linkedin.com/in/conzjiang" target="_blank">View on LinkedIn</a>
    </section>
  </li>
</ul>

<script>
  var doneScrolling = false;
  var scrolling = false;
  var $window = $(window);

  if ($window.scrollTop() < 10) {
    $("html, body").addClass("disable-scroll");

    $window.on("mousewheel touchstart", function (e) {
      if (!doneScrolling && !scrolling) {
        var $show = $(".show");
        var index = $show.index() + 1;
        var $imas = $(".me-list > li");

        scrolling = true;

        if ($imas.length !== index) {
          $show.removeClass("show");

          $imas.eq(index).addClass("show").on("transitionend", function () {
            scrolling = false;
          });
        } else {
          doneScrolling = true;
          scrolling = false;
          $("html, body").removeClass("disable-scroll");
          $window.off("mousewheel touchstart");
        }
      }
    });
  }


</script>
