@import "utils/variables";

.info-container {
  color: #333;
  background: #f7f7f7;
}

.resume {
  > li {
    margin: 30px 0;
  }
}

h2 {
  font-weight: $bold;
}

.location {
  font-weight: $normal;

  &:before {
    content: "-";
    margin-right: 5px;
  }
}

.job-time {
  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }
}